.spinner_spinnerContainer__oVGWT {
	display: flex;
	align-items: center;
	justify-content: center;
	position: fixed;
	left: 0;
	top: 0;
	right: 0;
	bottom: 0;
	background: rgba(255, 255, 255, .5);
	z-index: 99999
}

@import
	"https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap"
	;

.account_signUpContainer__nL9LE {
	margin-top: 100px;
	width: 100%;
	min-height: calc(100vh - 52px)
}

.account_contents__E8DTc {
	width: 100%;
	margin: 0 auto;
	max-width: 1024px;
	text-align: center
}

@media only screen and (max-width:768px) {
	.account_contents__E8DTc {
		min-width: 360px;
		padding: 0 30px
	}
}

.account_contents__E8DTc .account_signUpText__O1sFc {
	font-size: 22px
}

.account_contents__E8DTc .account_signUpSNSText__kg_xr {
	margin: 11px 0;
	font-size: 13px;
	color: #868688
}

.account_contents__E8DTc .account_btnWrapper__hwCbx {
	margin: 10px 0
}

.account_contents__E8DTc .account_btnWrapper__hwCbx .account_loginNaver__bt5Ii
	{
	position: relative;
	width: 300px;
	height: 44px;
	font-size: 14px;
	border-radius: 30px;
	border: none;
	color: #fff;
	background-color: #03c75a
}

.account_contents__E8DTc .account_btnWrapper__hwCbx .account_loginNaver__bt5Ii:hover
	{
	cursor: pointer
}

.account_contents__E8DTc .account_btnWrapper__hwCbx .account_loginNaver__bt5Ii .account_logoNaver__evoqZ
	{
	position: absolute;
	top: 35%;
	left: 11%
}

.account_contents__E8DTc .account_btnWrapper__hwCbx .account_loginFacebook__iDyZ4
	{
	position: relative;
	width: 300px;
	height: 44px;
	font-size: 14px;
	border-radius: 30px;
	border: none;
	color: #fff;
	background-color: #1877f2
}

.account_contents__E8DTc .account_btnWrapper__hwCbx .account_loginFacebook__iDyZ4:hover
	{
	cursor: pointer
}

.account_contents__E8DTc .account_btnWrapper__hwCbx .account_loginFacebook__iDyZ4 .account_logoFacebook__AagUV
	{
	position: absolute;
	top: 20%;
	left: 9%;
	width: 25px;
	height: 25px
}

.account_contents__E8DTc .account_btnWrapper__hwCbx .account_loginGoogle___NM21
	{
	position: relative;
	width: 300px;
	height: 44px;
	font-size: 14px;
	border-radius: 30px;
	color: #fff;
	font-family: Roboto, sans-serif;
	background-color: #fff;
	color: #000;
	border: 1px solid #cfcece
}

.account_contents__E8DTc .account_btnWrapper__hwCbx .account_loginGoogle___NM21:hover
	{
	cursor: pointer
}

.account_contents__E8DTc .account_btnWrapper__hwCbx .account_loginGoogle___NM21 .account_logoGoogle__AovKH
	{
	position: absolute;
	top: 25%;
	left: 10%
}

.account_contents__E8DTc .account_btnWrapper__hwCbx .account_loginApple__BkzLS
	{
	position: relative;
	width: 300px;
	height: 44px;
	font-size: 14px;
	border-radius: 30px;
	border: none;
	background-color: #000;
	color: #fff
}

.account_contents__E8DTc .account_btnWrapper__hwCbx .account_loginApple__BkzLS:hover
	{
	cursor: pointer
}

.account_contents__E8DTc .account_btnWrapper__hwCbx .account_loginApple__BkzLS .account_logoApple__VH54w
	{
	position: absolute;
	top: 0;
	left: 7%
}

.account_contents__E8DTc .account_loginBar__oFCnT {
	margin: 30px auto;
	width: 300px;
	border: 1px solid #e4e4e6
}

.account_contents__E8DTc .account_loginEmail__tBaLe {
	position: relative;
	width: 300px;
	height: 44px;
	font-size: 14px;
	border-radius: 30px;
	border: none;
	color: #fff;
	font-size: 13px;
	background-color: #e4e4e6;
	color: #000
}

.account_contents__E8DTc .account_loginEmail__tBaLe:hover {
	cursor: pointer
}

.account_contents__E8DTc .account_signUpFormContainer__tTwFf {
	width: 600px;
	margin: 35px auto;
	display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.account_contents__E8DTc .account_signUpFormContainer__tTwFf .account_signUpDesc__FZLyl
	{
	margin-bottom: 25px;
	font-size: 18px
}

.account_contents__E8DTc .account_signUpFormContainer__tTwFf .account_signUpInputWrapper__kzyF3
	{
	display: flex;
	flex-direction: row;
	grid-gap: 5px;
	gap: 5px
}

.account_contents__E8DTc .account_signUpFormContainer__tTwFf .account_signUpInputWrapper__kzyF3 .account_inputSignUp___sBwm
	{
	width: 300px;
	height: 33px;
	border: none;
	border-bottom: 1px solid #e4e4e6
}

.account_contents__E8DTc .account_signUpFormContainer__tTwFf .account_signUpInputWrapper__kzyF3 .account_inputSignUp___sBwm::-webkit-input-placeholder
	{
	color: #dbdbdd
}

.account_contents__E8DTc .account_signUpFormContainer__tTwFf .account_signUpInputWrapper__kzyF3 .account_inputSignUp___sBwm:-ms-input-placeholder
	{
	color: #dbdbdd
}

.account_contents__E8DTc .account_signUpFormContainer__tTwFf .account_signUpInputWrapper__kzyF3 .account_inputSignUp___sBwm::placeholder
	{
	color: #dbdbdd
}

.account_contents__E8DTc .account_signUpFormContainer__tTwFf .account_signUpInputWrapper__kzyF3 .account_checkButton__wezDS
	{
	width: 80px;
	padding: 0 8px;
	border: 2px solid #fcd11e;
	border-radius: 20px;
	background-color: #ffeb994d;
	font-size: 10px
}

.account_contents__E8DTc .account_signUpFormContainer__tTwFf .account_signUpInputWrapper__kzyF3 .account_checkButton__wezDS:hover
	{
	cursor: pointer
}

.account_contents__E8DTc .account_signUpFormContainer__tTwFf .account_signUpInputWrapper__kzyF3 .account_noCheckButton__dNWQx
	{
	width: 80px;
	padding: 0 8px;
	border: none;
	border-radius: 20px;
	color: gray;
	background-color: #f6f6f9;
	font-size: 10px
}

.account_contents__E8DTc .account_signUpFormContainer__tTwFf .account_signUpInputWrapper__kzyF3 .account_noCheckButton__dNWQx:hover
	{
	cursor: not-allowed
}

.account_contents__E8DTc .account_signUpFormContainer__tTwFf .account_alertText__bGPQB
	{
	text-align: left;
	text-align: initial;
	margin: 10px 0;
	font-size: 13px;
	color: #f24147
}

@media only screen and (max-width:1024px) {
	.account_contents__E8DTc .account_signUpFormContainer__tTwFf .account_alertText__bGPQB
		{
		text-align: left;
		text-align: initial
	}
}

.account_contents__E8DTc .account_signUpFormContainer__tTwFf .account_noAlertText__JRJS8
	{
	text-align: left;
	text-align: initial;
	margin: 10px 0;
	font-size: 13px;
	color: #13bd7f
}

@media only screen and (max-width:1024px) {
	.account_contents__E8DTc .account_signUpFormContainer__tTwFf .account_noAlertText__JRJS8
		{
		text-align: left;
		text-align: initial
	}
}

.account_contents__E8DTc .account_signUpFormContainer__tTwFf .account_signUpButton__6SW9R
	{
	position: relative;
	width: 300px;
	height: 44px;
	font-size: 14px;
	border-radius: 30px;
	border: none;
	color: #fff;
	margin: 18px 0 22px;
	background-color: #fcd11e;
	color: #000
}

.account_contents__E8DTc .account_signUpFormContainer__tTwFf .account_signUpButton__6SW9R:hover
	{
	cursor: pointer
}

.account_contents__E8DTc .account_signUpFormContainer__tTwFf .account_notsignUpButton__SbVv0
	{
	position: relative;
	width: 300px;
	height: 44px;
	font-size: 14px;
	border-radius: 30px;
	border: none;
	color: #fff;
	margin: 18px 0 22px;
	background-color: #fcd11e;
	color: #000
}

.account_contents__E8DTc .account_signUpFormContainer__tTwFf .account_notsignUpButton__SbVv0:hover
	{
	cursor: pointer;
	cursor: not-allowed
}

.account_contents__E8DTc .account_signUpFormContainer__tTwFf .account_loginCheckbox__FAhai
	{
	margin-top: 17px;
	display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.account_contents__E8DTc .account_signUpFormContainer__tTwFf .account_allChecked___ss8r
	{
	width: 300px;
	margin: 0 auto;
	display: flex;
	justify-content: space-between;
	align-items: center;
	grid-gap: 15px;
	gap: 15px;
	padding-bottom: 10px
}

.account_contents__E8DTc .account_signUpFormContainer__tTwFf .account_loginfunction__TLCNR
	{
	width: 300px;
	margin-left: 10px;
	display: flex;
	justify-content: space-between;
	align-items: center;
	grid-gap: 15px;
	gap: 15px;
	padding-bottom: 10px
}

.account_contents__E8DTc .account_signUpFormContainer__tTwFf .account_checkboxwrap__SLQoe
	{
	display: flex;
	flex-direction: row;
	align-items: center;
	grid-gap: 13px;
	gap: 13px
}

.account_contents__E8DTc .account_signUpFormContainer__tTwFf .account_checkboxwrap__SLQoe .account_checkLabel__7ESRF
	{
	text-align: left;
	text-align: initial;
	margin-top: 5px;
	font-size: 13px;
	color: #868688
}

.account_contents__E8DTc .account_signUpFormContainer__tTwFf input[type=checkbox]
	{
	position: relative
}

.account_contents__E8DTc .account_signUpFormContainer__tTwFf input[type=checkbox]:before
	{
	content: "";
	display: block;
	position: absolute;
	width: 20px;
	height: 20px;
	top: 0;
	left: 0;
	background-color: #fff;
	border: 1px solid #e4e4e6
}

.account_contents__E8DTc .account_signUpFormContainer__tTwFf input[type=checkbox]:checked:before
	{
	content: "";
	display: block;
	position: absolute;
	width: 20px;
	height: 20px;
	top: 0;
	left: 0;
	background-color: #fcd11e;
	border: none
}

.account_contents__E8DTc .account_signUpFormContainer__tTwFf input[type=checkbox]:checked:after
	{
	content: "";
	display: block;
	width: 6px;
	height: 10px;
	border: solid #000;
	border-width: 0 2px 2px 0;
	-webkit-transform: rotate(45deg);
	transform: rotate(45deg);
	position: absolute;
	top: 3px;
	left: 7px
}

.account_contents__E8DTc .account_signUpFormContainer__tTwFf .account_description__zlB3V
	{
	font-size: 13px;
	color: #868688
}