
.css-t79vuj {
	position: relative;
	width: 1050px;
	height: 100px;
	margin: 0 auto;
	letter-spacing: -0.3px;
}


.css-fexq9b {
	position: absolute;
	right: 0;
	top: 0;
	z-index: 20;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-align-items: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	font-size: 12px;
}


.css-14oah20 {
	width: 150px;
	height: 100%;
}

.css-14oah20>span {
	position: relative;
	display: block;
}

.css-14oah20>span span {
	border-radius: 3px;
	height: 100%;
}


.css-1qgm48u {
	width: 1px;
	height: 13px;
	margin: 0 12px;
	background-color: #d9d9d9;
}


.css-1qolcqm {
	line-height: 35px;
	position: relative;
}

.css-1qolcqm .menu {
	display: none;
}

.css-1qolcqm:hover .menu {
	display: block;
}


.css-oyffzd {
	display: block;
	cursor: pointer;
}


.css-1uqkit7 {
	display: inline-block;
	margin-left: 5px;
	margin-bottom: 1px;
}


.css-1lrerrk {
	width: 8px;
	height: 5px;
	background-image:
		url('https://res.kurly.com/pc/ico/1908/ico_down_16x10.png');
	-webkit-background-size: cover;
	background-size: cover;
	-webkit-background-position: center;
	background-position: center;
	display: inline-block;
	margin-left: 5px;
	margin-bottom: 1px;
}


.css-1ho29iy {
	position: absolute;
	right: 0;
	top: 34px;
	width: 130px;
	padding: 3px 9px;
	border: 1px solid #ddd;
	background-color: #fff;
}


.css-12olpw6 {
	display: block;
	height: 24px;
	line-height: 24px;
	cursor: pointer;
}

.css-12olpw6 svg {
	margin: -2px 0 0 4px;
	vertical-align: middle;
}


.css-r7wmjj {
	height: 100px;
	padding-top: 36px;
}


.css-boc80u {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-align-items: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	height: 63px;
}


.css-17mnrrx {
	-webkit-flex: 0 0 82px;
	-ms-flex: 0 0 82px;
	flex: 0 0 82px;
}


.css-j0ug0x {
	-webkit-flex-shrink: 0;
	-ms-flex-negative: 0;
	flex-shrink: 0;
	margin-left: 20px;
	font-size: 18px;
	font-weight: normal;
	line-height: 1.33;
	letter-spacing: normal;
	color: #b5b5b5;
	cursor: pointer;
}

.css-j0ug0x.active, .css-j0ug0x:hover {
	font-weight: 500;
	color: #5f0080;
}

.css-j0ug0x:not(:last-of-type):after {
	content: '';
	position: absolute;
	width: 1px;
	height: 14px;
	margin-top: 5px;
	margin-left: 11px;
	background-color: #e2e2e2;
}


.css-1sia941 {
	-webkit-flex-shrink: 0;
	-ms-flex-negative: 0;
	flex-shrink: 0;
	margin-left: 20px;
	font-size: 18px;
	font-weight: normal;
	line-height: 1.33;
	letter-spacing: normal;
	color: #b5b5b5;
	cursor: pointer;
	position: relative;
	margin-left: 22px;
}

.css-1sia941.active, .css-1sia941:hover {
	font-weight: 500;
	color: #5f0080;
}

.css-1sia941:not(:last-of-type):after {
	content: '';
	position: absolute;
	width: 1px;
	height: 14px;
	margin-top: 5px;
	margin-left: 11px;
	background-color: #e2e2e2;
}

.css-1sia941:after {
	content: '';
	position: absolute;
	display: block;
	background:
		url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iNyIgaGVpZ2h0PSI3IiB2aWV3Qm94PSIwIDAgNyA3IiB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciPgogICAgPHBhdGggZD0iTTUuMTA4IDd2LS4wMDdMMS45MTEgMi41NzdWN0guMDQ2VjBoMS44NjdsMy4xOTYgNC40MTlWMGgxLjg2N3Y3SDUuMTA4eiIgZmlsbD0iI0ZBNjIyRiIgZmlsbC1ydWxlPSJldmVub2RkIi8+Cjwvc3ZnPgo=)
		0 0 no-repeat;
	width: 10px;
	height: 10px;
	top: 3px;
	right: -13px;
}


.css-pqw0uk {
	position: relative;
	width: 1050px;
	margin: 0 auto;
}


.css-w444a2 {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-align-items: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	justify-content: space-between;
	position: absolute;
	left: 325px;
	top: -55px;
	width: 400px;
	height: 48px;
	padding-left: 14px;
	border: solid 1px #5f0080;
	border-radius: 6px;
	background-color: #fff;
	box-shadow: inset 0 0 0 1px #f7f7f7;
}


.css-11ntk83 {
	width: 300px;
	background-color: inherit;
	border: none;
	outline: none;
	font-size: 16px;
	letter-spacing: -0.33px;
}

.css-11ntk83:hover {
	cursor: text;
}

.css-11ntk83:focus {
	background-color: #fff;
}

.css-11ntk83::-webkit-input-placeholder {
	color: #999;
	opacity: 1;
}

.css-11ntk83::-moz-placeholder {
	color: #999;
	opacity: 1;
}

.css-11ntk83:-ms-input-placeholder {
	color: #999;
	opacity: 1;
}

.css-11ntk83::placeholder {
	color: #999;
	opacity: 1;
}

.css-11ntk83:-webkit-autofill {
	-webkit-box-shadow: 0 0 0 30px #fff inset;
	-webkit-text-fill-color: #333;
}

.css-11ntk83:-webkit-autofill, .css-11ntk83:-webkit-autofill:hover,
	.css-11ntk83:-webkit-autofill:focus, .css-11ntk83:-webkit-autofill:active
	{
	-webkit-transition: background-color 5000s ease-in-out 0s;
	transition: background-color 5000s ease-in-out 0s;
}


.css-ywxmlw {
	position: relative;
	width: 30px;
	height: 30px;
	margin: 10px;
	bottom: 3px;
	background:
		url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMzYiIGhlaWdodD0iMzYiIHZpZXdCb3g9IjAgMCAzNiAzNiIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KICAgIDxnIGZpbGw9Im5vbmUiIGZpbGwtcnVsZT0iZXZlbm9kZCI+CiAgICAgICAgPHBhdGggZmlsbD0ibm9uZSIgZD0iTTAgMGgzNnYzNkgweiIvPgogICAgICAgIDxnIHN0cm9rZT0iIzVGMDA4MCIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIiBzdHJva2Utd2lkdGg9IjEuNyI+CiAgICAgICAgICAgIDxwYXRoIGQ9Im0yNi4wODEgMjYuMDgxLTQuMTItNC4xMk0xNi40NjcgMjMuMzM0YTYuODY3IDYuODY3IDAgMSAwIDAtMTMuNzM0IDYuODY3IDYuODY3IDAgMCAwIDAgMTMuNzM0eiIvPgogICAgICAgIDwvZz4KICAgIDwvZz4KPC9zdmc+Cg==)
		0 0 no-repeat;
}


.css-c4pbxv {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-align-items: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	position: absolute;
	right: -6px;
	top: -49px;
}

.css-c4pbxv>button:not(:first-of-type) {
	margin-left: 20px;
}


.css-19lw9rr .MuiTooltip-tooltip {
	position: absolute;
	z-index: -1;
	background-color: transparent;
	width: 0;
	height: 0;
	padding: 0 !important;
	margin: 0 !important;
}


.css-1n4p7us {
	width: 36px;
	height: 36px;
	margin-right: 20px;
	background:
		url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMzYiIGhlaWdodD0iMzYiIHZpZXdCb3g9IjAgMCAzNiAzNiIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KICAgIDxnIGZpbGw9Im5vbmUiIGZpbGwtcnVsZT0iZXZlbm9kZCI+CiAgICAgICAgPHBhdGggZD0iTTM2IDM2SDBWMGgzNnoiLz4KICAgICAgICA8ZyB0cmFuc2Zvcm09InRyYW5zbGF0ZSg4LjcgNikiIHN0cm9rZT0iIzMzMyIgc3Ryb2tlLWxpbmVqb2luPSJyb3VuZCIgc3Ryb2tlLXdpZHRoPSIxLjciPgogICAgICAgICAgICA8cGF0aCBkPSJNOS4zMDYgMjRTMCAxNi41NDQgMCA5LjMwNmE5LjMwNiA5LjMwNiAwIDAgMSAxOC42MTIgMEMxOC42MTIgMTYuNTQ0IDkuMzA2IDI0IDkuMzA2IDI0eiIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIi8+CiAgICAgICAgICAgIDxjaXJjbGUgc3Ryb2tlLWxpbmVjYXA9InNxdWFyZSIgY3g9IjkuMjEyIiBjeT0iOS4xMjMiIHI9IjIuNzg0Ii8+CiAgICAgICAgPC9nPgogICAgPC9nPgo8L3N2Zz4K)
		no-repeat 50% 50%;
	cursor: pointer;
}

.css-1n4p7us:hover {
	background-image:
		url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMzYiIGhlaWdodD0iMzYiIHZpZXdCb3g9IjAgMCAzNiAzNiIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KICAgIDxnIGZpbGw9Im5vbmUiIGZpbGwtcnVsZT0iZXZlbm9kZCI+CiAgICAgICAgPHBhdGggZD0iTTM2IDM2SDBWMGgzNnoiLz4KICAgICAgICA8ZyB0cmFuc2Zvcm09InRyYW5zbGF0ZSg4LjcgNikiIHN0cm9rZT0iIzVmMDA4MCIgc3Ryb2tlLWxpbmVqb2luPSJyb3VuZCIgc3Ryb2tlLXdpZHRoPSIxLjciPgogICAgICAgICAgICA8cGF0aCBkPSJNOS4zMDYgMjRTMCAxNi41NDQgMCA5LjMwNmE5LjMwNiA5LjMwNiAwIDAgMSAxOC42MTIgMEMxOC42MTIgMTYuNTQ0IDkuMzA2IDI0IDkuMzA2IDI0eiIgc3Ryb2tlLWxpbmVjYXA9InJvdW5kIi8+CiAgICAgICAgICAgIDxjaXJjbGUgc3Ryb2tlLWxpbmVjYXA9InNxdWFyZSIgY3g9IjkuMjEyIiBjeT0iOS4xMjMiIHI9IjIuNzg0Ii8+CiAgICAgICAgPC9nPgogICAgPC9nPgo8L3N2Zz4K);
}


.css-hqyoug {
	z-index: 1500;
	pointer-events: none;
}

.css-hqyoug .MuiTooltip-tooltip {
	position: absolute;
	z-index: -1;
	background-color: transparent;
	width: 0;
	height: 0;
	padding: 0 !important;
	margin: 0 !important;
}


.css-231fw3 {
	width: 36px;
	height: 36px;
	background:
		url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMzYiIGhlaWdodD0iMzYiIHZpZXdCb3g9IjAgMCAzNiAzNiIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KICAgIDxwYXRoIGQ9Ik0yOC45MjcgOC44OTNhNi40NiA2LjQ2IDAgMCAwLTkuMTM5IDBsLTEuODI5IDEuODI4LTEuODI3LTEuODI4YTYuNDYyIDYuNDYyIDAgMSAwLTkuMTQgOS4xMzhMOC44MiAxOS44Nmw4LjQzMiA4LjQzNGExIDEgMCAwIDAgMS40MTQgMGw4LjQzMy04LjQzNGgwbDEuODI4LTEuODI4YTYuNDYgNi40NiAwIDAgMCAwLTkuMTM4eiIgc3Ryb2tlPSIjMzMzIiBzdHJva2Utd2lkdGg9IjEuNyIgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIiBzdHJva2UtbGluZWNhcD0icm91bmQiLz4KPC9zdmc+Cg==)
		no-repeat 50% 50%;
}

.css-231fw3:hover {
	background-image:
		url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMzYiIGhlaWdodD0iMzYiIHZpZXdCb3g9IjAgMCAzNiAzNiIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KICAgIDxwYXRoIGQ9Ik0yOC45MjcgOC44OTNhNi40NiA2LjQ2IDAgMCAwLTkuMTM5IDBsLTEuODI5IDEuODI4LTEuODI3LTEuODI4YTYuNDYyIDYuNDYyIDAgMSAwLTkuMTQgOS4xMzhMOC44MiAxOS44Nmw4LjQzMiA4LjQzNGExIDEgMCAwIDAgMS40MTQgMGw4LjQzMy04LjQzNGgwbDEuODI4LTEuODI4YTYuNDYgNi40NiAwIDAgMCAwLTkuMTM4eiIgc3Ryb2tlPSIjNWYwMDgwIiBzdHJva2Utd2lkdGg9IjEuNyIgZmlsbD0ibm9uZSIgZmlsbC1ydWxlPSJldmVub2RkIiBzdHJva2UtbGluZWNhcD0icm91bmQiLz4KPC9zdmc+Cg==);
}


.css-ff2aah {
	position: relative;
	margin-left: 20px;
}


.css-g25h97 {
	display: block;
	width: 36px;
	height: 36px;
	background:
		url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMzYiIGhlaWdodD0iMzYiIHZpZXdCb3g9IjAgMCAzNiAzNiIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KICAgIDxnIGZpbGw9Im5vbmUiIGZpbGwtcnVsZT0iZXZlbm9kZCI+CiAgICAgICAgPHBhdGggZD0iTTM2IDM2SDBWMGgzNnoiLz4KICAgICAgICA8ZyB0cmFuc2Zvcm09InRyYW5zbGF0ZSg1LjE2NCA2LjU0NykiIHN0cm9rZT0iIzMzMyIgc3Ryb2tlLWxpbmVjYXA9InNxdWFyZSIgc3Ryb2tlLWxpbmVqb2luPSJyb3VuZCIgc3Ryb2tlLXdpZHRoPSIxLjciPgogICAgICAgICAgICA8cGF0aCBkPSJtMjUuNjggMy42Ni0yLjcyIDExLjU3SDcuMzdMNC42NiAzLjY2eiIvPgogICAgICAgICAgICA8Y2lyY2xlIGN4PSIyMC41MiIgY3k9IjIwLjc4IiByPSIyLjE0Ii8+CiAgICAgICAgICAgIDxjaXJjbGUgY3g9IjkuODEiIGN5PSIyMC43OCIgcj0iMi4xNCIvPgogICAgICAgICAgICA8cGF0aCBkPSJNMCAwaDMuOGwxLjc2IDcuNSIvPgogICAgICAgIDwvZz4KICAgIDwvZz4KPC9zdmc+Cg==);
	cursor: pointer;
}

.css-g25h97:hover {
	background:
		url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMzYiIGhlaWdodD0iMzYiIHZpZXdCb3g9IjAgMCAzNiAzNiIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KICAgIDxnIGZpbGw9Im5vbmUiIGZpbGwtcnVsZT0iZXZlbm9kZCI+CiAgICAgICAgPHBhdGggZD0iTTM2IDM2SDBWMGgzNnoiLz4KICAgICAgICA8ZyB0cmFuc2Zvcm09InRyYW5zbGF0ZSg1LjE2NCA2LjU0NykiIHN0cm9rZT0iIzVmMDA4MCIgc3Ryb2tlLWxpbmVjYXA9InNxdWFyZSIgc3Ryb2tlLWxpbmVqb2luPSJyb3VuZCIgc3Ryb2tlLXdpZHRoPSIxLjciPgogICAgICAgICAgICA8cGF0aCBkPSJtMjUuNjggMy42Ni0yLjcyIDExLjU3SDcuMzdMNC42NiAzLjY2eiIvPgogICAgICAgICAgICA8Y2lyY2xlIGN4PSIyMC41MiIgY3k9IjIwLjc4IiByPSIyLjE0Ii8+CiAgICAgICAgICAgIDxjaXJjbGUgY3g9IjkuODEiIGN5PSIyMC43OCIgcj0iMi4xNCIvPgogICAgICAgICAgICA8cGF0aCBkPSJNMCAwaDMuOGwxLjc2IDcuNSIvPgogICAgICAgIDwvZz4KICAgIDwvZz4KPC9zdmc+Cg==);
}


.css-19ndp9a {
	min-width: 1050px;
	letter-spacing: -0.3px;
	background-color: #fff;
	position: relative;
	box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.07);
	width: 100%;
	z-index: 10;
}


.css-mlddcv {
	position: relative;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	justify-content: space-between;
	width: 1050px;
	height: 56px;
	margin: 0 auto;
}


.css-axtlq9 {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-align-items: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	height: 100%;
}

.css-axtlq9:hover {
	cursor: pointer;
}

.css-axtlq9:hover>span:first-of-type {
	background:
		url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTYiIGhlaWdodD0iMTQiIHZpZXdCb3g9IjAgMCAxNiAxNCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KICAgIDxwYXRoIGQ9Ik0wIDBoMTZ2MS43SDBWMHptMCA2LjE1aDE2djEuN0gwdi0xLjd6bTAgNi4xNWgxNlYxNEgwdi0xLjd6IiBmaWxsPSIjNUYwMDgwIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiLz4KPC9zdmc+Cg==)
		no-repeat 0 0;
}

.css-axtlq9:hover>span:last-of-type {
	color: #5f0080;
}


.css-1k5gn9s {
	width: 16px;
	height: 14px;
	margin-right: 14px;
	background:
		url(data:image/svg+xml;base64,PHN2ZyB3aWR0aD0iMTYiIGhlaWdodD0iMTQiIHZpZXdCb3g9IjAgMCAxNiAxNCIgeG1sbnM9Imh0dHA6Ly93d3cudzMub3JnLzIwMDAvc3ZnIj4KICAgIDxwYXRoIGQ9Ik0wIDBoMTZ2MS43SDBWMHptMCA2LjE1aDE2djEuN0gwdi0xLjd6bTAgNi4xNWgxNlYxNEgwdi0xLjd6IiBmaWxsPSIjMzMzIiBmaWxsLXJ1bGU9ImV2ZW5vZGQiLz4KPC9zdmc+Cg==)
		no-repeat 0 0;
	-webkit-background-size: 16px 14px;
	background-size: 16px 14px;
}


.css-t75x7c {
	font-size: 16px;
	font-weight: 500;
	line-height: 20px;
	letter-spacing: -0.3px;
	color: #333;
}


.css-1887xqd {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	margin-left: 30px;
}


.css-59mmhh {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	-webkit-justify-content: center;
	justify-content: center;
	width: 150px;
	height: 55px;
	padding-top: 18px;
	line-height: 20px;
	text-align: center;
}


.css-1xyu7j9 {
	height: -webkit-fit-content;
	height: -moz-fit-content;
	height: fit-content;
	font-size: 16px;
	font-weight: 500;
	color: #333;
	cursor: pointer;
}

.css-1xyu7j9:hover {
	color: #5f0080;
	border-bottom: 1px solid #5f0080;
}


.css-s5xdrg {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-align-items: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
}


.css-dnwaeo {
	height: 32px;
	padding: 6px 16px;
	border-radius: 18px;
	border: 1px solid #eee;
	color: #666;
	font-size: 13px;
	line-height: 16px;
	letter-spacing: -0.32px;
}


.css-1s2o3jp {
	font-weight: 500;
	color: #5f0080;
}


.css-1px7x3s {
	min-height: 56px;
	display: none;
}


.css-1pz4b76 {
	width: 1050px;
	margin: 0 auto;
	padding-bottom: 80px;
}


.css-1n2hipb {
	padding: 50px 0 48px;
	font-weight: 500;
	font-size: 28px;
	line-height: 35px;
	text-align: center;
}


.css-a6t9xs {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	justify-content: space-between;
	letter-spacing: -0.5px;
}


.css-8wfj4z {
	width: 742px;
}


.css-20o6z0 {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	justify-content: space-between;
	-webkit-align-items: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	padding: 18px 10px 16px 2px;
	font-size: 14px;
	line-height: 26px;
	font-weight: 500;
}


.css-zbxehx label {
	display: -webkit-inline-box;
	display: -webkit-inline-flex;
	display: -ms-inline-flexbox;
	display: inline-flex;
	font-size: 14px;
	line-height: 26px;
	padding: 0;
	color: #333;
}


.css-1vf8o8s {
	padding: 14px 0 9px;
	position: relative;
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-align-items: center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	font-size: 16px;
	vertical-align: top;
	line-height: normal;
	color: #ddd;
}


.css-agvwxo {
	overflow: hidden;
	position: absolute;
	clip: rect(0, 0, 0, 0);
	-webkit-clip-path: inset(50%);
	clip-path: inset(50%);
	width: 1px;
	height: 1px;
}


.css-79hxr7 {
	margin-right: 12px;
}

.css-79hxr7 svg {
	vertical-align: middle;
}


.css-454d5e {
	display: inline-block;
	width: 1px;
	height: 14px;
	background: #ddd;
	margin: 6px 21px 0 22px;
	vertical-align: top;
}


.css-2lvxh7 {
	border-bottom: 1px solid #f4f4f4;
}


.css-l1lu2l {
	padding: 115px 0;
	border-top: 1px solid #333;
	font-size: 16px;
	line-height: 24px;
	text-align: center;
	color: #b5b5b5;
}


.css-1dta0ch {
	position: relative;
	width: 284px;
	min-height: 942px;
}


.css-50ad8x {
	position: absolute;
	width: 284px;
	padding-top: 60px;
}


.css-oft680 {
	padding: 23px 19px 20px;
	border: 1px solid #f2f2f2;
	border-bottom: 0;
}


.css-1guaarh {
	padding-left: 24px;
	font-size: 16px;
	font-weight: 500;
	line-height: 20px;
	background:
		url('https://res.kurly.com/pc/service/cart/2007/ico_location.svg') 0
		50% no-repeat;
	-webkit-background-size: 20px 20px;
	background-size: 20px 20px;
}


.css-50yi3o {
	padding-top: 12px;
	font-size: 16px;
	line-height: 24px;
	color: #333;
}


.css-iba1ml {
	padding-bottom: 16px;
	font-weight: 500;
}

.css-iba1ml em {
	font-style: normal;
	color: #5f0080;
}

.css-iba1ml+button span {
	font-weight: 500;
	font-size: 12px;
	line-height: 20px;
	text-indent: -14px;
}

.css-iba1ml+button span>img {
	vertical-align: top;
}


.css-1bmnxg7 {
	white-space: nowrap;
}


.css-12e7k5j img {
	margin-right: 0;
}


.css-1bh2ea0 {
	display: block;
	padding: 0 10px;
	text-align: center;
	overflow: hidden;
	width: 100%;
	height: 36px;
	border-radius: 3px;
	color: #5f0080;
	background-color: #fff;
	border: 1px solid #5f0080;
}

.css-1bh2ea0:disabled {
	border-color: #ddd;
	color: #ddd;
}

.css-1bh2ea0 img {
	margin-right: 0;
}


.css-nytqmg {
	display: inline-block;
	font-size: 16px;
	font-weight: 500;
}


.css-1m3kac1 {
	display: inline-block;
	width: 20px;
	height: 20px;
	margin-right: 4px;
	vertical-align: middle;
}


.css-1t6so8j {
	padding: 19px 18px 18px 20px;
	border: 1px solid #f2f2f2;
	background-color: #fafafa;
}


.css-1dacand {
	padding-top: 0;
}


.css-8jmoub {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	justify-content: space-between;
	padding-top: 10px;
	padding-top: 0;
}


.css-vmo0an {
	width: 100px;
	font-size: 16px;
	line-height: 24px;
	white-space: nowrap;
}


.css-iinokh {
	font-size: 18px;
	line-height: 24px;
	text-align: right;
}


.css-hfgifi {
	padding-left: 2px;
	font-size: 16px;
	font-weight: normal;
	vertical-align: bottom;
}


.css-b8kzem {
	padding-top: 12px;
}


.css-t4mc5m {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	justify-content: space-between;
	padding-top: 10px;
	padding-top: 12px;
}


.css-7ygxxm {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	justify-content: space-between;
	margin-top: 16px;
	padding-top: 18px;
	border-top: 1px solid #f4f4f4;
}


.css-da7gr8 {
	width: 162px;
	font-size: 18px;
	line-height: 24px;
	text-align: right;
}


.css-xmbce4 {
	font-size: 20px;
	font-weight: 700;
	line-height: 28px;
}


.css-aro4zf {
	padding-left: 4px;
	font-size: 16px;
	vertical-align: 1px;
}


.css-8qz8ia {
	padding-top: 20px;
}


.css-id8jk6 {
	overflow: hidden;
	display: block;
	position: relative;
	height: 56px;
	padding-top: 15px;
	border-radius: 3px;
	text-align: center;
	background: #ddd;
}

.css-id8jk6>div {
	display: inline-block;
	position: relative;
}

.css-id8jk6>div>div:first-of-type {
	width: 100px;
	height: 100px;
}


.css-rbk7g9 {
	position: fixed;
	top: 0;
	left: 0;
	width: 24px;
	height: 24px;
	z-index: 999;
}


.css-17j3ye5 {
	overflow: hidden;
	position: absolute;
	top: 50%;
	left: 50%;
	width: 134px;
	height: 134px;
	-webkit-transform: translate(-50%, -50%);
	-moz-transform: translate(-50%, -50%);
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}


.css-19kxq7d {
	padding: 16px 0;
}

.css-19kxq7d li {
	padding-top: 4px;
	color: #666;
}


.css-7s0nna {
	position: relative;
	padding-top: 4px;
	font-size: 12px;
	line-height: 16px;
	padding-left: 7px;
	color: #999;
}

.css-7s0nna:before {
	overflow: hidden;
	position: absolute;
	width: 1px;
	height: 1px;
	margin: 6px 0px 0 -6px;
	background: #999;
	vertical-align: top;
	border-radius: 50%;
	content: '';
}


.css-17cdx60 {
	padding-top: 30px;
	border-top: 1px solid #f7f7f7;
}


.css-1i60c0e {
	width: 1050px;
	margin: 0 auto;
}


.css-j6zuv6 {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	justify-content: space-between;
	overflow: hidden;
	padding-bottom: 30px;
}


.css-4iyald {
	padding-bottom: 17px;
	font-weight: 500;
	font-size: 20px;
	line-height: 29px;
}


.css-9jqcug {
	display: block;
	padding-bottom: 20px;
	font-size: 28px;
	line-height: 40px;
}


.css-1uz1ro8 {
	margin-left: 8px;
	font-weight: normal;
	font-size: 16px;
}


.css-1fttcpj {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-direction: column;
	-ms-flex-direction: column;
	flex-direction: column;
}


.css-ho1qnd {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-flex-direction: row;
	-ms-flex-direction: row;
	flex-direction: row;
}


.css-1qwhv7o {
	margin-right: 16px;
	margin-bottom: 16px;
}


.css-hupzfj {
	display: block;
	width: 140px;
	height: 40px;
	border: 1px solid #e2e2e2;
	border-radius: 3px;
	line-height: 39px;
	text-align: center;
	margin-right: 16px;
	margin-bottom: 16px;
}


.css-1lxmeik {
	margin-top: 2px;
	color: #999;
	letter-spacing: -0.5px;
	line-height: 16.8px;
}


.css-w0fx7a {
	margin: 0 6px;
}


.css-nyq565 {
	display: block;
	width: 140px;
	height: 40px;
	margin-bottom: 16px;
	margin-right: 16px;
	border: 1px solid #e2e2e2;
	border-radius: 3px;
	line-height: 39px;
	text-align: center;
}


.css-vtjvf {
	font-size: 12px;
	line-height: 18px;
	color: #999;
}


.css-17hse91 {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	width: 100%;
	padding-bottom: 29px;
}


.css-slkv2p {
	margin-left: 14px;
}

.css-slkv2p.bold {
	font-weight: 500;
}

.css-slkv2p:first-of-type {
	margin-left: 0;
}


.css-1tfhwyj {
	font-size: 14px;
	line-height: 18px;
}


.css-bz7mfs {
	font-weight: 400;
	font-size: 12px;
	line-height: 18px;
	color: #999;
	margin-bottom: 40px;
}


.css-1ekjygq {
	padding-left: 4px;
}

.css-1ekjygq:after {
	content: '|';
	padding-right: 4px;
	font-size: 10px;
	vertical-align: top;
}


.css-1tby8gd {
	margin-left: 3px;
	color: #5f0080;
}


.css-zjik7 {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
}


.css-9ipg3 {
	display: block;
	width: 30px;
	height: 30px;
	margin-right: 10px;
}


.css-81eeg3 {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-pack: justify;
	-webkit-justify-content: space-between;
	justify-content: space-between;
	padding: 26px 0 33px;
	border-top: 1px solid #eee;
}


.css-12t5wjq {
	display: -webkit-box;
	display: -webkit-flex;
	display: -ms-flexbox;
	display: flex;
	text-align: left;
}


.css-1262i6n {
	width: 34px;
	margin-right: 10px;
}


.css-bft4sh {
	font-size: 10px;
	line-height: 14.5px;
	color: #999;
	word-break: break-word;
}


.css-as7ifw {
	width: 102px;
	margin-right: 10px;
}


.css-175n8cp {
	padding: 20px 0 30px;
	font-size: 10px;
	line-height: 15px;
	text-align: center;
	background-color: #f7f7f7;
	color: #999;
}


.css-1vhhy2d {
	display: block;
	padding-top: 7px;
	font-style: normal;
}
