@charset "UTF-8";

._1irmkvy0 {
	margin-top: 2.5rem
}

._1irmkvy1 {
	background: var(--seed-scale-color-yellow-alpha-100);
	border-radius: .375rem;
	overflow: hidden;
	padding: 1.5rem;
	display: flex;
	flex-direction: column;
	align-items: flex-start
}

._1irmkvy2 {
	width: 4.5rem;
	height: 4.5rem;
	position: relative
}

._1irmkvy3 {
	flex: 1 1;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	align-items: flex-start
}

._1irmkvy4 {
	font-weight: 700;
	line-height: 1.36;
	font-size: 1rem;
	color: var(--seed-scale-color-gray-900);
	letter-spacing: -.01em;
	margin: 0
}

._1irmkvy6 {
	margin: .75rem 0 0;
	display: flex
}

._1irmkvy7 {
	padding: .5rem .625rem;
	color: var(--seed-static-color-static-white)
}

@media screen and (min-width:768px) {
	._1irmkvy0 {
		margin-top: 4.5rem
	}
	._1irmkvy1 {
		padding: 1.5rem 1.375rem 1.5rem 2rem;
		align-items: center;
		flex-direction: row
	}
	._1irmkvy3 {
		padding-left: 2rem
	}
	._1irmkvy4 {
		line-height: 1.3;
		font-size: 1.25rem;
		letter-spacing: -1%
	}
	._1irmkvy5 {
		font-weight: 400;
		font-size: 1rem;
		margin-top: .125rem;
		line-height: 1.35
	}
	._1irmkvy6 {
		margin: 0 0 0 .75rem
	}
	._1irmkvy7 {
		padding: .5rem 1rem
	}
}

@media screen and (max-width:767px) {
	._1irmkvy2 {
		display: none
	}
}

._3nqg3y0 {
	background-color: #f7f1eb;
	width: 100%;
	height: 18.375rem;
	overflow: hidden
}

._3nqg3y0, ._3nqg3y1 {
	box-sizing: border-box
}

._3nqg3y1 {
	position: relative;
	height: 100%;
	padding: 1.5625rem 1.5rem 0
}

._3nqg3y2 {
	font-weight: 700;
	line-height: 1.3;
	font-size: 1.5rem;
	margin: 0
}

._3nqg3y2, ._3nqg3y3 {
	color: var(--seed-static-color-static-gray-900);
	letter-spacing: -.01em
}

._3nqg3y3 {
	line-height: 1.4;
	font-size: .875rem;
	display: block;
	margin: 1rem 0 0
}

._3nqg3y4 {
	position: absolute;
	bottom: 0;
	display: flex
}

@media screen and (min-width:768px) {
	._3nqg3y0 {
		height: 19.6875rem;
		padding: 0 1rem
	}
	._3nqg3y1 {
		padding: 3.125rem 0 0
	}
	._3nqg3y2 {
		line-height: 1.5;
		font-size: 2rem;
		letter-spacing: -1%
	}
	._3nqg3y3 {
		line-height: 1.32;
		font-size: 1.125rem;
		letter-spacing: -1%
	}
}

@media screen and (max-width:767px) {
	._3nqg3y3 {
		display: none
	}
	._3nqg3y4 {
		left: 50%;
		transform: translateX(-41.8%);
		height: 10.5rem;
		width: 18.3125rem
	}
}

@media screen and (min-width:768px) {
	._3nqg3y4 {
		right: 0;
		height: 16.25rem;
		width: 28.3125rem
	}
}

.vb66m70 {
	display: flex;
	overflow-x: auto;
	-webkit-overflow-scrolling: touch;
	margin: 0 -1rem
}

.vb66m70::-webkit-scrollbar {
	display: none
}

.vb66m71 {
	flex: 1 1;
	justify-content: center;
	align-items: center;
	flex-wrap: nowrap;
	padding: .75rem 1rem
}

.vb66m71, .vb66m72 {
	display: flex
}

.vb66m72+.vb66m72 {
	margin-left: .375rem
}

@media screen and (min-width:768px) {
	.vb66m70 {
		margin: 0
	}
	.vb66m71 {
		padding: 0
	}
	.vb66m72+.vb66m72 {
		margin-left: .5rem
	}
}

._4a1tzy0 {
	margin: 0;
	position: relative
}

._4a1tzy1 {
	display: flex;
	flex-wrap: wrap
}

._4a1tzy2 {
	box-sizing: border-box
}

@media screen and (max-width:767px) {
	._4a1tzy0 {
		margin: 0 -1rem
	}
	._4a1tzy2 {
		width: 100%
	}
	._4a1tzy2:nth-child(n+9) {
		display: none
	}
	._4a1tzy2:after {
		content: "";
		height: .0625rem;
		display: block;
		background-color: var(--seed-semantic-color-divider-2);
		margin: .5rem 1rem
	}
}

@media screen and (min-width:768px) {
	._4a1tzy0 {
		margin-top: 1.25rem
	}
	._4a1tzy2 {
		width: calc(50% - 1rem)
	}
	._4a1tzy2:nth-child(odd) {
		margin-right: 2rem
	}
	._4a1tzy2:nth-child(n+3):before {
		content: "";
		height: .0625rem;
		display: block;
		background-color: var(--seed-semantic-color-divider-2);
		margin: .5rem 0
	}
}

._1m0guz81 {
	font-weight: 700;
	line-height: 1.3;
	font-size: 1.5rem;
	text-align: center;
	padding: 0 1rem;
	margin: 0 0 1.25rem;
	color: var(--seed-scale-color-gray-900)
}

._1m0guz82 {
	width: 100%;
	display: flex;
	align-items: center;
	justify-content: center;
	height: 61.25rem
}

@media screen and (min-width:768px) {
	._1m0guz81 {
		line-height: 1.5;
		font-size: 2rem;
		letter-spacing: -1%;
		margin: 0 0 2rem
	}
	._1m0guz82 {
		height: 43.3125rem
	}
}

._18c31cj0 {
	margin-top: 4rem
}

._18c31cj1 {
	font-weight: 700;
	line-height: 1.3;
	font-size: 1.5rem;
	letter-spacing: -.01em;
	color: var(--seed-scale-color-gray-900);
	margin: 0 0 1.5rem
}

._18c31cj3 {
	display: flex;
	flex-wrap: wrap;
	overflow: hidden;
	align-items: stretch
}

._18c31cj4:nth-child(n+5) {
	display: none
}

@media screen and (max-width:767px) {
	._18c31cj4 {
		width: 100%
	}
	._18c31cj4+._18c31cj4 {
		margin-top: .75rem
	}
}

@media screen and (min-width:768px) {
	._18c31cj0 {
		margin-top: 6.125rem
	}
	._18c31cj1 {
		line-height: 1.5;
		font-size: 2rem;
		letter-spacing: -1%;
		margin: 0 0 2rem
	}
	._18c31cj2 {
		display: none
	}
	._18c31cj4 {
		width: calc(50% - .5rem)
	}
	._18c31cj4:nth-child(n+3) {
		margin-top: 1rem
	}
	._18c31cj4:nth-child(2n) {
		margin-left: 1rem
	}
}

._1qbix3d0 {
	overflow: hidden;
	margin-top:56px;
}

._1qbix3d1 {
	margin-top: 2.875rem;
	padding-bottom: 0;
	padding-top: 0;
	background: var(--seed-semantic-color-paper-default)
}

@media screen and (min-width:768px) {
	._1qbix3d1 {
		margin-top: 4rem;
		padding-left: 1rem;
		padding-right: 1rem
	}
}

._10rqyav0 {
	max-width: 100%
}

._10rqyav1 {
	color: var(--seed-scale-color-gray-900);
	padding: 3.5rem 0 2.5rem
}

@media screen and (min-width:768px) {
	._10rqyav1 {
		padding: 4rem 0 4.5rem
	}
}

._1g37vvi0 {
	display: flex;
	align-items: center;
	flex-direction: column
}

._1g37vvi1 {
	margin: 0 auto;
	position: relative;
	width: 13rem;
	height: 15.47rem
}

._1g37vvi2 {
	font-size: 2.25rem;
	margin: 2rem auto
}

._1g37vvi3 {
	text-align: center;
	margin-bottom: 2rem;
	line-height: 1.5rem;
	white-space: pre-wrap
}

@media screen and (min-width:768px) {
	._1g37vvi1 {
		width: 15rem;
		height: 17.85rem
	}
}

/*
.nvr5360 {
	screen and(min-width: 768px){line-height:1.38;
	font-size: 3.75rem;
	letter-spacing: -2%
}

}
.nvr5362 { 0:3; 1:r; 2:e; 3:m
	
}

.nvr5363 {
	screen and(min-width: 768px){line-height:1.4;
	font-size: 3.375rem;
	letter-spacing: -2%
}

}
.nvr5365 { 0:2; 1:.; 2:6; 3:2; 4:5; 5:r; 6:e; 7:m
	
}

.nvr5366 {
	screen and(min-width: 768px){line-height:1.34;
	font-size: 3rem;
	letter-spacing: -1%
}

}
.nvr5368 { 0:2; 1:.; 2:1; 3:2; 4:5; 5:r; 6:e; 7:m
	
}

.nvr5369 {
	screen and(min-width: 768px){line-height:1.42;
	font-size: 2.625rem;
	letter-spacing: -1%
}

}
.nvr536b { 0:1; 1:.; 2:6; 3:2; 4:5; 5:r; 6:e; 7:m
	
}


여기까지
 */
.nvr536c {
	font-weight: 700
}

.nvr536c, .nvr536d {
	line-height: 1.3;
	font-size: 1.5rem
}

.nvr536e {
	font-weight: 700
}

.nvr536e, .nvr536f {
	line-height: 1.3;
	font-size: 1.25rem;
	letter-spacing: -2%
}

.nvr536g {
	font-weight: 700
}

.nvr536g, .nvr536h {
	line-height: 1.32;
	font-size: 1.125rem;
	letter-spacing: -2%
}

.nvr536i {
	font-weight: 700
}

.nvr536i, .nvr536j {
	line-height: 1.36;
	font-size: 1rem
}

.nvr536k {
	font-weight: 700
}

.nvr536k, .nvr536l {
	line-height: 1.4;
	font-size: .875rem
}

.nvr536m {
	font-weight: 700
}

.nvr536m, .nvr536n {
	line-height: 1.36;
	font-size: 1rem
}

.nvr536o {
	font-weight: 700
}

.nvr536o, .nvr536p {
	line-height: 1.4;
	font-size: .875rem
}

.nvr536q {
	font-weight: 700
}

.nvr536q, .nvr536r {
	line-height: 1.36;
	font-size: 1rem
}

.nvr536s {
	font-weight: 700
}

.nvr536s, .nvr536t {
	line-height: 1.4;
	font-size: .875rem
}

.nvr536u {
	font-weight: 700
}

.nvr536u, .nvr536v {
	line-height: 1.5;
	font-size: .813rem
}

.nvr536w {
	font-weight: 700
}

.nvr536w, .nvr536x {
	line-height: 1.3;
	font-size: .75rem
}

.nvr536y {
	font-weight: 700
}

.nvr536y, .nvr536z {
	line-height: 1.32;
	font-size: 1.125rem;
	letter-spacing: -2%
}

.nvr53610 {
	font-weight: 700
}

.nvr53610, .nvr53611 {
	line-height: 1.36;
	font-size: 1rem
}

.nvr53612 {
	font-weight: 700
}

.nvr53612, .nvr53613 {
	line-height: 1.4;
	font-size: .875rem
}

.nvr53614 {
	font-weight: 700
}

.nvr53614, .nvr53615 {
	line-height: 1.3;
	font-size: .75rem
}

.nvr53616 {
	font-weight: 700
}

.nvr53616, .nvr53617 {
	line-height: 1.42;
	font-size: .688rem
}

.nvr53618 {
	font-weight: 700
}

.nvr53618, .nvr53619 {
	line-height: 1.36;
	font-size: .625rem
}

.nvr5361a {
	font-weight: 700
}

.nvr5361a, .nvr5361b {
	line-height: 1.42;
	font-size: .688rem
}

@media screen and (min-width:768px) {
	.nvr536c, .nvr536d {
		line-height: 1.5;
		font-size: 2rem;
		letter-spacing: -1%
	}
	.nvr536e, .nvr536f {
		line-height: 1.38;
		font-size: 1.625rem;
		letter-spacing: -1%
	}
	.nvr536g, .nvr536h {
		line-height: 1.3;
		font-size: 1.5rem;
		letter-spacing: -1%
	}
	.nvr536i, .nvr536j {
		line-height: 1.3;
		font-size: 1.25rem;
		letter-spacing: -1%
	}
	.nvr536k, .nvr536l, .nvr536m, .nvr536n {
		line-height: 1.32;
		font-size: 1.125rem;
		letter-spacing: -1%
	}
	.nvr536o, .nvr536p {
		line-height: 1.36;
		font-size: 1rem;
		letter-spacing: -1%
	}
	.nvr536q, .nvr536r {
		line-height: 1.32;
		font-size: 1.125rem;
		letter-spacing: -1%
	}
	.nvr536s, .nvr536t {
		line-height: 1.36;
		font-size: 1rem;
		letter-spacing: -1%
	}
	.nvr536u, .nvr536v {
		line-height: 1.4;
		font-size: .875rem
	}
	.nvr536w, .nvr536x {
		line-height: 1.5;
		font-size: .813rem
	}
	.nvr536y, .nvr536z {
		line-height: 1.3;
		font-size: 1.5rem
	}
	.nvr53610, .nvr53611 {
		line-height: 1.3;
		font-size: 1.25rem;
		letter-spacing: -2%
	}
	.nvr53612, .nvr53613 {
		line-height: 1.32;
		font-size: 1.125rem;
		letter-spacing: -2%
	}
	.nvr53614, .nvr53615 {
		line-height: 1.36;
		font-size: 1rem
	}
	.nvr53616, .nvr53617 {
		line-height: 1.4;
		font-size: .875rem
	}
	.nvr53618, .nvr53619, .nvr5361a, .nvr5361b {
		line-height: 1.3;
		font-size: .75rem
	}
}

._15yepzk1 {
	height: var(--_15yepzk0);
	width: 100%;
	-o-object-fit: cover;
	object-fit: cover;
	border-radius: .75rem
}

._15yepzk1:focus {
	outline: 0
}

._15yepzk2 {
	color: var(--seed-scale-color-gray-900);
	display: flex;
	justify-content: center;
	padding: .5313rem 0;
	border: .0625rem solid;
	border-radius: .25rem;
	border-color: var(--seed-scale-color-gray-300);
	text-decoration: none;
	width: 100%
}

._15yepzk3 {
	margin-left: .25rem
}